@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Lato:wght@300&family=Pacifico&display=swap');

/* Asterisk selector: override default styles set by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styling*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #6B6B6B;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Crafty Girls', cursive;
    color: #FAF3E0;
    /* Soft Cream */
}

h1 {
    /* Base size for mobile views */
    font-size: 2rem;
    
    letter-spacing: 1px;
    margin: 0;
    padding: 10px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.invisible {
    display: none;
}

.soft-cream {
    color: #FAF3E0;
}

/*Header styling*/
header {
    background-color: #4A90E2;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #FAF3E0;
}

#navbar {
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;
}

#navbar>li {
    margin-bottom: 1em;
}

#logo {
    letter-spacing: 4px;
}

#star-symbol {
    color: #E94E77;
    /* Rosy Pink for the star */
}

/* Navbar style with dropdown toggle (credit: CI Love Running)*/
nav {
    position: absolute;
    background-color: #4A90E2;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/*Collapsible menu for mobile (credit: CI Love Running)*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding-top: 10px;
}

/*Main content styling*/
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 62px;
    
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/*footer styling (credit: CI Love Running)*/

footer {
    background-color: #A2D39C;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #E94E77;
}


/* Adjusting for tablets or larger mobile devices */
@media (min-width: 480px) {
    /*Head styling*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #navbar {
        display: flex;
        letter-spacing: 1px;
        font-family: 'Crafty Girls', cursive;
    }

    #navbar>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
    
    #logo {
        font-size: 40px;
    }
}

/* Adjusting for desktop views */
@media (min-width: 768px) {
    h1 {
        font-size: 48px;
    }
    header a:hover {
        color: #F5C542;
    }
    #social-networks i:hover {
        color: #FAF3E0;
}
}