@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Lato:wght@300&display=swap');

/* Asterisk selector: override default styles set by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styling */
body {
    display: flex;
    flex-direction: column;

    /* Generic project styles */
    color: #6B6B6B;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Crafty Girls', cursive;
}

.hidden-header {
    display: none;
}


/*Used font colors*/
.soft-cream {
    color: #FAF3E0;
}
.rosy-pink {
    color: #E94E77;
}


/* Styling for the buttons*/
.join-button {
    margin-top: 20px; 
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: #E94E77;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #6B6B6B;

}



.join-button:active {
    background-color: #A2D39C;
    color: #E94E77;
    box-shadow: 0 2px #6B6B6B;
    transform: translateY(4px);
}


/* Header styling */
header {
    background-color: #4A90E2;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #6B6B6B;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    display: flex;
}

header a {
    text-decoration: none;
    color: #FAF3E0;
}


/* Main content styling */
main {

    /* Make main element push footer down */
    flex: 1 0 auto;

    /* Margin at the top to prevent content from being covered by the header */
    margin-top: 60;

    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

#navbar {
    font-size: 100%;
    letter-spacing: 2px;
    list-style-type: none;
}

#navbar>li {
    margin-bottom: 1em;
}

/* Navbar style with dropdown toggle */
nav {
    position: absolute;
    background-color: #4A90E2;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #6B6B6B;
    display: block;
    top: 100%;
}


/* Collapsible menu for mobile */
#nav-toggle:checked~nav {
    display: none;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding-top: 10px;
}

#logo {
    letter-spacing: 4px;
}


/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url("../images/hero-image.png") no-repeat center center/cover;
    position: relative;
}


/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* About us style*/
#about-us {
    width: 90%;
    margin: 20px auto;
}

#about-us h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#benefits,
#ethos {
    margin-bottom: 20px;
    line-height: 20px;
}

#about-us-middle p {
    padding: 0 20px;
}

#about-us-middle hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#circle-cover-bg {
    background: url('../images/about-us-img.png') no-repeat top center / cover;
    width: 90vw;
    height: 90vw;
    margin-bottom: 20px;
    /* Make it a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#about-us-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Gallery Page*/
#photos img {
    width: 100%;
    line-height: 1em;
}
#photos {
    line-height: 0;
}


/*Classes section*/
#classes {
    background-color: #FAF3E0; 
    padding: 4% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#classes h2 {
    text-align: center;
}

#classes p {
    margin-bottom: 1rem;
}

.class-image img {
    width: 30%;
    border-radius: 8px;
}

.class-info {
    width: 65%;
}


.class h3 {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
}

.note {
    text-align: center;
    font-style: italic;
    margin-top: 2rem;
}

#join-now{
    height: 600px;
    width: 100%;
    background: url("../images/join-us-bg.png") no-repeat top center/cover;
    display: flex;
    position: relative;
    justify-content: center;
}

#form-container {
    /* Semi-transparent background */
    background: #FAF3E088; 
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.join-us-form {
    background: #FAF3E014;
    padding: 2rem;

    /* Restrict form width */
    max-width: 400px;  

    /* Use the entire width up to max-width */
    width: 100%;       

    /* Rounded corners */
    border-radius: 8px; 
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #FAF3E0;
    border-radius: 5px;
}


/* footer styling */

footer {
    background-color: #A2D39C;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #E94E77;
}

#address {
    display: flex;       /* Use flex layout */
    align-items: start;  /* Align items to start at the top */
}

#address > p {         
    flex: 0 1 20%;     /* 30% width, no grow, no shrink */
    margin-right: 10px; /* A little spacing between the elements */
}

#address > iframe {
    flex: 0 1 80%;     /* 80% width, no grow, no shrink */
    max-width: 80%;    /* Ensure iframe doesn't grow beyond 80% */
}



/* Adjusting for tablets or larger mobile devices */
@media (min-width: 480px) {

    /* Head styling */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #navbar {
        display: flex;
        letter-spacing: 1px;
        font-family: 'Crafty Girls', cursive;
    }

    #navbar>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
    }
}

/* Adjusting for large or landscape phones (576px and up)*/
@media screen and (min-width:576px) {
    #photos{
        column-count: 2;
        column-gap: 0;
    }
}

/* Adjusting for desktop views (768px and up) */
@media (min-width: 768px) {
    h1 {
        font-size: 300%;
    }

    header a:hover {
        color: #F5C542;
    }

    #logo:hover{
        color: #F5C542;
    }

    /* Reasons section*/
    #benefits-physical,
    #benefits-mental {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #benefits-physical>div,
    #benefits-mental>div {
        width: 75%;
    }

    #benefits-mental>div {
        text-align: end;
        align-self: flex-end;
    }

    

    /*Gallery Section*/
    #photos{
        column-count: 2;
    }

    /*Footer*/
    #social-networks i:hover {
        color: #FAF3E0;
    }
}

/* Larger devices (992px and up) */
@media screen and (min-width:992px) {
    
    #photos{
        column-count: 4;
    }
}


@media screen and (min-width: 1200px) {    
    /* Reasons section */
    #about-us-middle {
        display: flex;
        flex-direction: row;
    }

    #about-us-middle > div {
        flex: 1;
    }

    #about-us-image {
        order: 0
    }

    #ethos {
        order: 1;
    }

    #ethos > div {
        align-self: flex-start;
    }

    #benefits > div {
        align-self: flex-end;
    }
}